<ion-header>
  <div class="header-container">
    <div class="nav-wrapper">
      <!-- Brand/Logo -->
      <div class="brand" (click)="navigateTo('/')">
        <ion-icon name="paw" class="logo"></ion-icon>
        <span>Happy Pet</span>
      </div>

      <!-- Hamburger Menu Button -->
      <ion-button
        fill="clear"
        class="hamburger"
        [attr.aria-expanded]="isMenuOpen"
        (click)="toggleMenu()"
      >
        <ion-icon 
          [name]="isMenuOpen ? 'close' : 'menu'" 
          class="hamburger-icon"
        ></ion-icon>
      </ion-button>

      <!-- Navigation Menu -->
      <div class="nav-menu" [class.show-menu]="isMenuOpen">
        <ul class="nav-list">
          <!-- Inicio -->
          <li class="nav-item">
            <a 
              class="nav-link"
              [class.active-nav-link]="isActiveRoute('/')"
              (click)="navigateTo('/')"
            >
              Inicio
            </a>
          </li>

          <!-- Menu para usuarios no autenticados -->
          <ng-container *ngIf="!isLoggedIn">
            <li class="nav-item">
              <a 
                class="nav-link"
                [class.active-nav-link]="isActiveRoute('/login')"
                (click)="navigateTo('/login')"
              >
                Login
              </a>
            </li>
            <li class="nav-item">
              <a 
                class="nav-link"
                [class.active-nav-link]="isActiveRoute('/register')"
                (click)="navigateTo('/register')"
              >
                Registro
              </a>
            </li>
          </ng-container>

          <!-- Menu para usuarios autenticados -->
          <ng-container *ngIf="isLoggedIn">
            <li class="nav-item">
              <a 
                class="nav-link"
                [class.active-nav-link]="isActiveRoute('/UserProfile')"
                (click)="navigateTo('/UserProfile')"
              >
                <ion-icon name="person-circle" class="nav-icon"></ion-icon>
                Perfil
              </a>
            </li>
            <li class="nav-item">
              <button 
                class="nav-link logout-button"
                (click)="confirmLogout()"
              >
                Cerrar sesión
              </button>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</ion-header>