@import '../login/login.page.scss'; // Reutiliza estilos del login

.success-message {
  color: var(--success);
  text-align: center;
  margin-top: 1rem;
  font-size: 1.1rem;
  background: #f0fff3;
  border-radius: 8px;
  padding: 0.7rem 1rem;
  animation: fadeIn 0.5s;
} 